
div.inputIDFrom {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    display: block;
    width: 60%;
    margin-top: 70px;
}

#studentIdNo {
    border: none !important;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    width: 100%;
}

#profIdNo {
    border: none !important;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 1em;
    width: 100%;
}

.btn-font-1em {
    font-size: 1em !important;
}

.fa.search-icon {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}


div.inputIDFrom:hover input,
div.inputIDFrom input{
    display: block;
}

div.inputIDFrom:hover .fa.search-icon,
div.inputIDFrom:valid .fa.search-icon {
    background: #07051a;
    color: white;
    cursor: pointer;
}


a#clear-btn {
  display: none;
  position: absolute;
  top: 70px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center; 
  width: 100%;
}

div.inputIDFrom:valid a#clear-btn {
  display: block;
}


.bg-sy {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  
    background-size: cover;
}

@media screen and (max-width: 300px){
    div.inputIDFrom {
        width: 100%;
    }
    
}

@media screen and (max-width: 700px){
	div.inputIDFrom {
        width: 80%;
    }
    
}

@media screen and (max-width: 1000px){

    div.inputIDFrom {
        width: 70%;
    }
    
    
}

@media screen and (min-width: 1001px){

    div.inputIDFrom {
        width: 60%;
    }
    
}


.iam-px-50 {
    padding-left: 50px  !important;
    padding-right: 50px  !important;

}


.iam-border {
    border: blue 1px solid;
    border-radius: 2%;
}

.iam-border:hover {
    background-color: rgba(0, 0, 255, 0.195);
    color: white !important;
    cursor: pointer;
}

.w-30 {
    width: 30% !important;
}

.font-s-3rem {
    font-size: 3rem !important;
}